.txtcenter{
    text-align: center;
}

.desktopG.txtcenter {
    display: none;
}

.desktop.txtcenter {
    display: none;
}

.tablette.txtcenter {
    display: none;
}

img {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5px;
}

#images{
    text-align: center;
}


@media (min-width: 768px){

    .telephone.txtcenter {
        display : none;
    }
    .tablette.txtcenter {
        display: block;
        
    }
    
    img{
        width : 48%;
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 10px;
       
        
    }

    
}

@media (min-width: 971px){

    .desktop.txtcenter {
        display : block;
    }
    .tablette.txtcenter {
        display: none;
        
    }
    
    img {
        width: 40%;
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    
}


