.txtcenter{
    text-align: center;
}

.desktopG.txtcenter {
    display: none;
}

.desktop.txtcenter {
    display: none;
}

.tablette.txtcenter {
    display: none;
}

img{
    width: 100%;
}

.image{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5px;
}

#images{
    text-align: center;
}


@media (min-width: 768px){

    .telephone.txtcenter {
        display : none;
    }
    .tablette.txtcenter {
        display: block;
        
    }
    
    .image{
        width : 48%;
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 10px;
       
        
    }

    
}

@media (min-width: 971px){

    .desktop.txtcenter {
        display : block;
    }
    .tablette.txtcenter {
        display: none;
        
    }
    
    .image {
        width: 456px;
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    
}

@media (min-width: 1371px){

    .desktopG.txtcenter {
        display : block;
    }
    .desktop.txtcenter {
        display: none;
        
    }
    
    .image {
        width: 20%;
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 0;
        margin-top: 5px;
    }

    
}


